<!DOCTYPE html>
<html>
  <head>
    <title>FlickrApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar content-padding">
    <p class="flex g-10"> <span class="flex"><%= image_tag("flickr-logo.png", id: "logo", class: "al-c") %></span>flickr API</p>
    </nav>
    <%= yield %>
  </body>
</html>
